// Define the font stack and colors
$font-stack:    16px 'Ubuntu', sans-serif;
$green-color:   #76ff03;
$blue-color:    #00e5ff;

body {
  font: $font-stack;
}

nav {
  text-align: center;
  font-size: 1.3em;
  word-spacing: 1.3em;
  margin: 0.5em 0;
}

@import 'links';
