// Define the font stack and colors
$font-stack:    16px 'Ubuntu', sans-serif;

$green-color:              #76ff03;
$blue-color-link-hover:    #00e5ff;
$blue-color:               #27c8cc;
$yellow-color:             #ffea1d;
$pink-color:               #b21752;

body {
  font: $font-stack;
}

nav {
  text-align: center;
  font-size: 1.3em;
  word-spacing: 1.3em;
  margin: 0.5em 0;
}

@import 'media_queries';
@import 'links';
